# Local Environment Variables
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Database Configuration
DATABASE_URL=your_database_url_here

# Encryption Secret Key
SECRET_KEY=your_secret_key_here
